export DATABASE_URL="jdbc:postgresql://localhost:5432/dbname?useUnicode=true&characterEncoding=UTF-8"
export DATABASE_USER=dbuser
export DATABASE_PASSWORD=dbpassword
export DATABASE_SCHEMA=dbschema
export DATABASE_DRIVER=org.postgresql.Driver